.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  min-height: 100vh;
}
.card {
  cursor: pointer;
  border: 1px red;
}
